$clr-text-primary1:#272f39;
$clr-text-primary2:#bf0000;
$clr-text-primary3:#6c7a90;
$clr-btn-primary1:#bf0000;
$clr-btn-primary-hover1:rgba(191, 0, 0, .9);
$clr-btn-primary2:#272f39;
$clr-btn-primary-hover2:#1a1e24;
$clr-header-bg:rgba(255, 255, 255, .8);
$clr-primary:#fff;
$clr-primary2:#000;
$clr-primary-border:#f7f8fb;
$clr-bg-overlay:rgba(39, 47, 57, .4);
$clr-border-footer:#3898ec;