
$btn-padding:18px 40px;
$heading-font: 'Belanosima', sans-serif;

$breakpoints:(
    'mobile':484px,
    'tab-sm':720px,
    'tab':968px,
    'desktop':1200px
);

$h1-font-size:(
    "lg-size":55px,
     "md-size":44px   
);

